/* normalize */
*,*::before,*::after {margin:0;padding:0;box-sizing:border-box;list-style:none;text-decoration:none;-webkit-tap-highlight-color:transparent;outline:none;}
html {font-size: 62.5%;}
a,a:active,a:visited{color:inherit}
textarea {resize:none;}
body {overflow: hidden;pointer-events: none;}
body::-webkit-scrollbar {width: 8px;}
body::-webkit-scrollbar-thumb {background-color: gray;}
#noscript,#internetexplorer {display: flex;justify-content: center;justify-items: center;align-items: center;align-content: center;position: fixed;z-index: 2;top: 0;left: 0;width: 100%;height: 100%;background: white;font-size: 2rem;}
/* ---------- */

/* wrap */
#wrap {max-width: 700px;min-height: 100vh; margin: 0 auto;position: relative;}
/* ---------- */

/* header */
#header {display:flex;justify-content: center; width:100%; position:fixed; top:0; left:0; z-index: 9;height: 47px;box-shadow: 0 3px 5px 0 rgb(0 0 0 / 7%);}
#header .title {font-size: 1.8rem;font-weight: 600; width:100%;line-height:47px;max-width: 700px;padding: 0 18px;}
/* ---------- */

/* content */
#content {padding:70px 18px;}
#content .btn {border:none; padding:5px 15px;color: white;background: darkslategray;border-radius: 15px;cursor:pointer;font-size:1.3rem;}
#content .board-list {width:100%;font-size:1.5rem;text-align:center;table-layout:fixed;}
#content .board-list .subject:hover {text-decoration: underline;}
#content .board-list th, #content .board-list td {line-height:2.5rem;}
#content .board-list .paging {background: darkslategray;color: white;border-radius: 100%;display: inline-block;width: 20px;height: 20px;font-size: 1.3rem;line-height: 2.0rem;}
#content .board-list .paging.act {background: white !important;color: black !important;border: 1px solid darkslategray;line-height: 1.8rem !important;}
#content .read-board {width:100%; font-size:1.5rem;margin-bottom:10px;}
#content .read-board th, #content .read-board td {line-height:2.5rem;}
#content .read-board input, #content .read-board textarea {width:100%;}
#content .read-board input {height:2.5rem;}
#content .write-board {width:100%; font-size:1.5rem;margin-bottom:10px;}
#content .write-board th, #content .write-board td {line-height:2.5rem;}
#content .write-board input, #content .write-board textarea {width:100%;}
#content .write-board input {height:2.5rem;}
#content .join-table {width:100%; font-size:1.5rem;margin-bottom:10px;}
#content .join-table th, #content .join-table td {line-height:2.5rem;}
#content .join-table input, #content .join-table textarea {width:100%;}
#content .join-table input {height:2.5rem;}
#content .sign-in-form input[type=text],#content .sign-in-form input[type=password] {height: 25px;line-height: 2.5rem;}
/* ---------- */


/* footer */
#footer {position:absolute;left:0;bottom:0;z-index:9;width:100%;height:70px;line-height:70px;padding:0 18px;font-size:1.2rem;color:#7a7b7d;}
/* ---------- */


/* animation */
@keyframes fill-animation{0%{stroke-dasharray: 40 242.6;stroke-dashoffset: 0;}50%{stroke-dasharray: 141.3;stroke-dashoffset: 141.3;}100%{stroke-dasharray: 40 242.6;stroke-dashoffset: 282.6;}}
#svg-loader {display:flex;position:absolute;z-index:2;align-content: space-around;justify-content: center;align-items: center;justify-items: center;width:100%;height:100%;background:rgba(255,255,255,0.8);backdrop-filter:blur(5px);transition: opacity 0.3s, visibility 0.3s;}
#svg-loader #svg-circle {transition: opacity 0.3s, visibility 0.3s;}
#svg-loader .circle {position: absolute;left: 0; right: 0; top: 0; bottom: 0;fill: none;stroke-width: 5px;stroke-linecap: round;stroke: rgb(64, 0, 148);}
#svg-loader .bg {stroke-width: 8px;stroke: rgb(207, 205, 245);}
#svg-loader .spin {stroke-dasharray: 242.6;animation: fill-animation 1s cubic-bezier(1,1,1,1) 0s infinite;}
/* ---------- */